*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    /* Чтобы не было снизу отступа */
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;

    /* Подключили наш новый шрифт */
    font-family: Montserrat;
    background-color: #000;

    overflow-x: hidden;
}

.wrapper {
    position: relative;
}

._container {
    /* Св-во, которое ограничивает по ширине.
    Ширина нашего контента*/
    max-width: 1440px;

    padding: 0px 15px;
    box-sizing: content-box;

    /* Чтобы контейнер был по середине. блок должен быть блочным и ширина меньше родительской*/
    margin: 0 auto;

    overflow: hidden;
}

.blue {
    color: #2722F2;
}
.white {
    color: #FFF;
    text-shadow: none;
}
.obvodka {
    text-shadow: -1px 1px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255), 1px -1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255);
    color: #000000;
}



/***************************** ШАПКА ****************************/
/***************************** ШАПКА ****************************/
/***************************** ШАПКА ****************************/
/***************************** ШАПКА ****************************/
.header {
    /* background-image: url(../img/back-page.jpg); */
    /* background-size: cover; */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    /* margin: 0 auto; */
    background-color: rgba(0, 0, 0, 0.30);
    /* background-color: rgba(255, 61, 61, 0.808); */
}

.header__container {
    display: flex;
    align-items: center;
    /* padding: 44px 0; */
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.header__logo {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 25.193px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 5.542px;

    display: flex;
    justify-content: center;
}

.header__logo_f {
    display: flex;
    flex-direction: column;
}

.header__logo_cap {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 275;
    /* letter-spacing: 5.32px; */
}

.header__logo img {
    margin-right: 12px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    font-size: 14.456px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.menu__link {
    color: var(--White, #FFF);
    transition: 0.2s;
    text-transform: uppercase;
}

.menu__link:hover {
    opacity: 0.5;
}

.menu__item:not(:last-child) {
    margin: 0px 45px 0px 0px;
}

.header__language {
    display: flex;
    /* margin-left: 180px; */
    color: #FFF;
    font-family: Montserrat;
    font-size: 14.456px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.header__language img {
    margin-left: 5px;
}



/***************************** ПЕРВЫЙ БЛОК ****************************/
/***************************** ПЕРВЫЙ БЛОК ****************************/
/***************************** ПЕРВЫЙ БЛОК ****************************/
/***************************** ПЕРВЫЙ БЛОК ****************************/
.secfirst {
    text-align: center;
    /* padding-top: 46px; */
    /* padding-top: 126px; */
    padding-top: 200px;
    padding-bottom: 60px;
    /* min-height: 115vh; */
    background-image: url(../img/header.png);
    /* background-color: #2722F2; */
    background-size: cover;
    /* margin-top: 80px; */

    
}

.back-left {
    background-image: url(../img/back-left.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 30px;
    width: 407px;
    height: 626px;
    z-index: 1;
}

.back-right {
    background-image: url(../img/back-right.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 40px;
    width: 399px;
    height: 1024px;
}

.back-left-sub {
    /* background-image: url(../img/SIS-l.png); */
    background-image: url(../img/SIS.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 690px;
    width: 254px;
    height: 169px;
}

.back-right-sub {
    background-image: url(../img/OAS.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 570px;
    width: 396px;
    height: 170px;
}

.secfirst__title {
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 95.407px;
    margin-bottom: 25px;
    color: #000000;
    text-transform: uppercase;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px #fff; */
    /* text-stroke: 2px blue; */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    text-shadow: -1px 1px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255), 1px -1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255);
    z-index: 3;
    position: relative;
}

.secfirst__subtitle {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    color: #FFF;
    max-width: 1073px;
    margin: 0 auto;
    margin-bottom: 68px;
    z-index: 3;
    position: relative;
}


.secfirst__button {
    /* font-family: Montserrat;
    font-size: 18.756px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 135.457px;
    background: var(--grad, #2722F2);
    padding: 17px 60px;
    color: #FFF; */
    width: 358px;
    height: 85px;
    box-sizing: border-box;
    display: block;
    background-image: url("../img/button-test1.svg");
    transition: 0.3s;
    margin: 0 auto;
}

.secfirst__button:hover {
    background-image: url("../img/button-test2.svg");
}

.secfirst__results {
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* color: #FFF; */
}

.secfirst__result {
    box-sizing: border-box;
    position: relative;
    width: 261.016px;
    height: 261.016px;
    display: flex;
    flex-direction: column;
    padding: 33px;
    padding-top: 67px;
    /* z-index: 2; */
    border-radius: 24.897px;
    

    background: linear-gradient(180deg, rgba(52, 58, 66, 0.05) 0%, rgba(0, 0, 0, 0.08) 100%);
    border: 1px solid #FFF;

    margin-bottom: 30px;
}

.secfirst__result_p {
    color: var(--grad, #2722F2);
    font-family: Montserrat;
    font-size: 50.386px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 67px; */
}

.secfirst__result_psub {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 25.193px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/***************************** ВТОРОЙ БЛОК ****************************/
/***************************** ВТОРОЙ БЛОК ****************************/
/***************************** ВТОРОЙ БЛОК ****************************/
/***************************** ВТОРОЙ БЛОК ****************************/
.advantages {
    padding-top: 90px;
    background-image: url(../img/back-main1.png);
    background-size: cover;
}

.advantages__results {
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* color: #FFF; */
}

/* ??????????????? */
.page__results__choose {
    margin-top: 100px;
}

.advantages__result {
    box-sizing: border-box;
    position: relative;
    width: 261.016px;
    height: 261.016px;
    display: flex;
    flex-direction: column;
    padding: 33px;
    padding-top: 67px;
    /* z-index: 2; */
    border-radius: 24.897px;
    

    background: linear-gradient(180deg, rgba(52, 58, 66, 0.05) 0%, rgba(0, 0, 0, 0.08) 100%);
    border: 1px solid #FFF;

    margin-bottom: 30px;



    /* fill: var(--Shape-Colors-3, linear-gradient(180deg, rgba(52, 58, 66, 0.05) 0%, rgba(0, 0, 0, 0.08) 100%));
    stroke-width: 1px;
    stroke: var(--04, rgba(255, 255, 255, 0.00)); */

    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(28px);

    text-align: left;

    /* width: 308px; */
    width: 21%;
    /* min-height: 355px; */
    height: auto;
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 60px 43px 58px 43px;

    /* background-color: rgb(96, 168, 168); */

}

.advantages__title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 19.895px;
    font-style: normal;
    font-weight: 700;
    line-height: 106.579px; /* 535.714% */
    letter-spacing: 1.791px;
    text-transform: uppercase;
}

.advantages__subtitle {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 59.684px;
    font-style: normal;
    font-weight: 600;
    line-height: 73.895px; /* 123.81% */
    letter-spacing: -0.597px;
}


.advantages__img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}

.advantages__name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    /* font-size: 1.8vw; */
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
    margin-bottom: 24px;
}

.advantages__description {
    color: #A4B4C3;
    font-family: Montserrat;
    font-size: 15px;
    /* font-size: 1.3vw; */
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    vertical-align: bottom;

    /* background-color: aqua; */
}



/***************************** ТРЕТИЙ БЛОК ****************************/
/***************************** ТРЕТИЙ БЛОК ****************************/
/***************************** ТРЕТИЙ БЛОК ****************************/
/***************************** ТРЕТИЙ БЛОК ****************************/
.description {
    background-color: #000;
    margin-top: 100px;
}
.description__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.description__textpart {
    max-width: 41%;
}
.description__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.306px; /* 162.613% */
    letter-spacing: -0.6px;

    margin-bottom: 23px;
}
.description__text {
    color: #A4B4C3;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.979px; /* 175% */
}

.description__button {
    margin-top: 49px;
    box-sizing: border-box;
    border-radius: 135.457px;
    border-color: #2722F2;
    border-style: solid;
    border-width: 1px;
    max-width: 270px;
    padding: 27px 0px;
    text-align: center;
}
.description__a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18.819px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.761px; /* 131.574% */
    text-transform: uppercase;
}

.description__img {
    max-width: 40%;
    transform: translateX(-10px);
}




/***************************** ЧЕТВЕРТЫЙ-П БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ-П БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ-П БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ-П БЛОК ****************************/
.about__container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 166px;
}
.about__image {
    /* background-image: url("../img/team_full.jpg"); */
    /* max-width: 100%; */
    max-width: 45%;
}
.about__text {
    margin-left: 107px;
    max-width: 38%;
}
.about__text__ph {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.498px;
    font-style: normal;
    font-weight: 700;
    line-height: 83.025px; /* 535.714% */
    letter-spacing: 1.395px;
    text-transform: uppercase;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
}
.about__text__ph:before {
    content: '';
    display: block;
    margin-right: 17px;
    width: 103px;
    height: 1px;
    background: #2722F2;
}
.about__text__h {
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.35px;
    margin-bottom: 32px;
}
.about__text__p {
    color: #A4B4C3;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.996px; /* 175% */
    margin-bottom: 44px;
    /* max-width: 470px; */
}



/***************************** ЧЕТВЕРТЫЙ БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ БЛОК ****************************/
/***************************** ЧЕТВЕРТЫЙ БЛОК ****************************/
.team {
    background-color: #000;
    margin-top: 140px;
}

.round-image-with-ellipse {
    display: flex;
    align-items: center;
    align-content: center;
    min-width: 538px;
    min-height: 538px;
    max-width: 538px;
    max-height: 538px;
    padding: 50px;
    border-radius: 538px;
    border-color: rgba(248, 248, 248, 0.27);
    padding: 24px;
    box-sizing: border-box;
    border-width: 1px;
    border-spacing: 50px;
    border-radius: 50%;
    border-style: solid;
    position: relative;
    /* max-width: 50%; */

    transform: scale(1);
}

.round-image-with-ellipse:before {
    content: '';
    position: absolute;
    top: 0;
    left: -29px;
    bottom: 0;
    right: 0;
    background-image: url("../img/ellipse.png");
    background-repeat: no-repeat;
    /* max-width: 50%; */
}

.round-image-with-ellipse__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-image: url("../img/team_full.jpg"); */
    background-size: cover;
    z-index: 10;
    background-position: center;
}

.team__text {
    margin-left: 107px;
    max-width: 45%;
}

.team__text__ph {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.498px;
    font-style: normal;
    font-weight: 700;
    line-height: 83.025px; /* 535.714% */
    letter-spacing: 1.395px;
    text-transform: uppercase;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
}

.team__text__ph:before {
    content: '';
    display: block;
    margin-right: 17px;
    width: 103px;
    height: 1px;
    background: #2722F2;
}

.team__text__h {
    color: #FFF;
    font-family: Montserrat;
    font-size: 46.494px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.564px;
    letter-spacing: -0.465px;
    margin-bottom: 32px;
}
.team__text__p {
    color: #A4B4C3;
    font-family: Montserrat;
    font-size: 17.712px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.996px; /* 175% */
    margin-bottom: 44px;
    max-width: 470px;
}

.team__count {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.team__person {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
    flex-grow: 3;
    margin-top: 80px;
}


._img-sub-1 {
    /* background-image: url("../img/АндрейФедосеев.jpg"); */
    background-image: url("../img/Андрей.png");
}

._img-sub-2 {
    background-image: url("../img/виталий.jpg");
}

._img-sub-5 {
    background-image: url("../img/Анна.jpg");
}

._border-sub {
    min-width: 201px;
    min-height: 201px;
    max-width: 201px;
    max-height: 201px;
}

._border-sub:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 160px;
    bottom: 0;
    right: 0;
    background-image: url("../img/ellipse70.png");
    background-repeat: no-repeat;
}

.team__count__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.team__count__text__name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.996px; /* 154.979% */
    margin-top: 36px;
    margin-bottom: 0;
}
.team__count__text__p {
    text-align: center;
    max-width: 312px;
    margin-top: 25px;
}



.trust__container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;

    justify-content: center;
}

/* .trust__block-image {
    max-width: 45%;
} */
.trust__image {
    /* max-width: 100%; */
    max-width: 45%;
}
.trust__text {
    margin-left: 107px;
    max-width: 45%;
}
.trust__text__ph {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.498px;
    font-style: normal;
    font-weight: 700;
    line-height: 83.025px; /* 535.714% */
    letter-spacing: 1.395px;
    text-transform: uppercase;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
}
.trust__text__ph:before {
    content: '';
    display: block;
    margin-right: 17px;
    width: 103px;
    height: 1px;
    background: #2722F2;
}
.trust__text__h {
    color: #FFF;
    font-family: Montserrat;
    font-size: 46.494px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.564px;
    letter-spacing: -0.465px;
    margin-bottom: 32px;
}
.trust__text__p {
    color: #A4B4C3;
    font-family: Montserrat;
    font-size: 17.712px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.996px; /* 175% */
    margin-bottom: 44px;
    max-width: 470px;
}

/* ============================================================== */

.plans {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;
    
    /* padding-bottom: 500px; */
    position: relative;
}

.plans__h {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 54.51px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    

    max-width: 70%;
    margin: 0 auto;

    margin-bottom: 14px;
}

.plans__p {
    color: #7C8794;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
    
    max-width: 653px;
    margin: 0 auto;
    margin-bottom: 66px;
}

.back-left-plans {
    background-image: url(../img/back-left-plans.png);
    position: absolute;
    background-repeat: no-repeat;
    left: 0px;
    top: -150px;
    width: 705px;
    height: 1116px;
}

.back-right-plans {
    background-image: url(../img/back-right-plans.png);
    position: absolute;
    background-repeat: no-repeat;
    right: 0px;
    top: -170px;
    width: 581px;
    height: 1116px;
}

.plans__all {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.plan {
    border-radius: 30px;
    /* border: 1px solid rgba(255, 255, 255, 0.00); */
    border: 1px solid rgb(255, 255, 255);
    /* background: linear-gradient(180deg, rgba(39, 34, 242, 0.30) 0%, rgba(19, 16, 133, 0.30) 100%); */
    
    background: var(--Shape-Colors-3, linear-gradient(180deg, rgba(52, 58, 66, 0.05) 0%, rgba(0, 0, 0, 0.08) 100%));

    /* fix 1 */
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28px);

    padding-top: 64px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 30px;
    width: 320px;
    text-align: left;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */

    position: relative;
    box-sizing: border-box;

    margin-bottom: 70px;
}

.plan__name {
    color: #F2F2F2;
    font-family: Montserrat;
    font-size: 55.524px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.plan__name:after {
    content: "";
    position: absolute;
    top: 74px;
    left: 4px;
    content: block;
    width: 114px;
    height: 1px;
    background: #343232;
}

.plan__lasting {
    color: #F2F2F2;
    font-family: Montserrat;
    font-size: 24.986px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 20px;
}
.plan__charact {
    margin-top: 67px;
    /* text-align: left; */
    margin-bottom: 70px;
}
.plan__charact__li {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
.plan__charact__li img {
    margin-right: 24px;
}
.plan__button {
    box-sizing: border-box;
    border-radius: 117px;
    border-color: #2722F2;
    border-style: solid;
    border-width: 1px;
    max-width: 217px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    background-color: #2722F2;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    padding: 15px 0px;
    padding-left: 10px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.plan__button:hover {
    background-color: #fff;
    color: #222737;
}

.ticker {
    background: linear-gradient(180deg, rgba(39, 34, 242, 0.30) 0%, rgba(19, 16, 133, 0.30) 100%);

    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28px);

    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;

    margin-bottom: 90px;
}

.news {
    display: block;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17.929px;
    font-style: normal;
    font-weight: 400;
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 80px;
}

.news:hover {
    color: #C3C3C3;
}

.news div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    padding-bottom: 140px;
}

.results__tech {
    max-width: 30%;

}
.team__text__ph {

}
.results__tech__h {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.043px; /* 122.989% */
    /* max-width: 341px; */
    /* width: 50%; */
    /* margin-right: 140px; */
}
.results__tech__buttons {
    display: flex;
    margin-top: 30px;
}
.results__tech__buttons__button {
    margin-right: 20px;
    cursor: pointer;
}
.results__cases {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    /* max-width: 60%; */

    /* right: -100px; */

    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    /* overflow: hidden; */
}

.results__cases:before {
    content: '';
    position: absolute;
    width: 181px;
    height: 175px;
    /* top: 0; */
    left: -55px;
    bottom: -110px;
    /* right: 0; */
    background-image: url("../img/Ellipse75.png");
    background-repeat: no-repeat;
    /* max-width: 50%; */
}

.case {
    max-width: 388px;
    /* margin-right: 30px; */
    padding: 36px;
    border-radius: 24px;
    border: 1px solid var(--04, rgba(255, 255, 255, 0.00));
    background: var(--Shape-Colors-3, linear-gradient(180deg, rgba(52, 58, 66, 0.05) 0%, rgba(0, 0, 0, 0.08) 100%));
    
    /* fix 1 */
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28px);

    /* background-color: aqua; */

    /* visibility: hidden; */
    /* overflow: hidden; */
}

.case2 {
    /* overflow: hidden; */
    /* visibility: hidden; */
}

.case__photo-img {
    border-radius: 23.435px;
    /* background-image: url("../img/case1.jpg"); */
    /* width: 100%; */
    /* height: auto; */
}
.case__name {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 19.031px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.75px; /* 114.286% */
    margin-top: 36px;
    margin-bottom: 7px;
    box-sizing: border-box;
    max-height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.case__date {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 10.875px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.5px; /* 133.333% */
    margin-bottom: 17px;
}
.case__description {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.75px; /* 150% */
    margin-bottom: 40px;
}
.case__button {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.457px; /* 131.574% */
    text-transform: uppercase;

    box-sizing: border-box;
    border-radius: 117px;
    border-color: #2722F2;
    border-style: solid;
    border-width: 1px;
    width: 130px;
    padding: 15px 0;
    text-align: center;
    background-color: #ffffff00;
    cursor: pointer;

    /* stroke-width: 0.503px; */
    /* stroke: var(--grad, #2722F2); */
    /* filter: drop-shadow(0px 3.3415513038635254px 12.252354621887207px rgba(6, 34, 51, 0.22)); */
}

.case__button:hover {
    background-color: #2722F2;
}

.footer {
    border: 1px solid var(--Shape-Colors-2, rgba(255, 255, 255, 0.00));
    background: rgba(255, 255, 255, 0.06);
    
    /* Effect */
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28px);
}

.footer__container {

}
.footer__info {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
    flex-wrap: wrap;
}
.footer__info__links {
}
.links {
}
.links__name-list {
    color: #FFF;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 114.286% */
    margin-bottom: 40px;
}
.links__list {

}
.links__list__li {
    margin-bottom: 16px;
}
.links__list__li__a {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
.footer__info__contacts {
}
.contacts {
}
.contacts__name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 114.286% */
    margin-bottom: 40px;
}
.contacts__list {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.contacts__list__li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.contacts__list__li img {
    margin-right: 8px;
}
.footer__info__subscribe {
}
.subscribe {
}
.subscribe__name {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 114.286% */
    margin-bottom: 40px;
}
.subscribe__form {
}
.subscribe__socials {
}
.subscribe__socials__social {
    margin-right: 16px;
}
.footer__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__copyright__p {
    text-align: center;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}


@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
    .back-left {
        transform: scale(0.6) translateX(-34%);
    }
    .back-right{
        transform: scale(0.6) translateX(34%);
    }
    .back-left-sub {
        transform: scale(0.6) translateX(-34%) translateY(-100%);
    }
    .back-right-sub {
        transform: scale(0.6) translateX(34%);
    }
    .back-left-plans {
        transform: scale(0.6) translateX(-34%);
    }
    .back-right-plans {
        transform: scale(0.6) translateX(34%);
    }
    .case2 {
        display: none;
    }
    .results {
        justify-content: space-around;
    }
    .advantages__result {
        width: 34%;
    }
    .description__img {
        transform: translateX(80px);
    }
    .description__textpart {
        max-width: 56%;
        transform: translateX(52px);
    }
    .about__block-image {
        transform: translateX(-50px);
    }
    .about__text {
        transform: translateX(-60px);
        max-width: 50%;
    }
    .trust__block-image {
        transform: translateX(-50px);
    }
    .trust__text {
        transform: translateX(-60px);
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
    .results {
        justify-content: space-between;
    }
    .team__person {
        width: 40%;
    }
    .page__result__choose {
        width: 40%;
    }
    .back-left {
        transform: scale(0.6) translateX(-34%);
    }
    .back-right{
        transform: scale(0.6) translate(35%, -20%);
    }
    .back-left-sub {
        transform: scale(0.6) translateX(-34%) translateY(60%);
    }
    .back-right-sub {
        transform: scale(0.6) translateX(34%) translateY(130%);
    }
    .back-left-plans {
        transform: scale(70%);
        left: -110px;
    }
    .back-right-plans {

    }
    .trust__text {
        transform: translateX(-82px);
    }
}

@media (max-width: 600px) {
    .secfirst__title {
        font-size: 50px;
    }

    .secfirst__subtitle {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .secfirst__button {
        transform: scale(0.8);
        margin: 0 auto;
    }
    .page__result__choose {
        width: 70%;
    }
    .back-left {
        transform: scale(0.6) translateX(-34%);
    }
    .back-right{
        transform: scale(0.6) translate(35%, -20%);
    }
    .back-left-sub {
        transform: scale(0.6) translateX(-34%) translateY(60%);
    }
    .back-right-sub {
        transform: scale(0.6) translateX(34%) translateY(130%);
    }

    .advantages__results {
        justify-content: space-between;
    }

    .advantages__result {
        width: 48%;
        padding: 60px 15px 58px 15px;
    }


    .description__title {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px; /* 140% */
        letter-spacing: -0.25px;
    }
    .description__img {
        transform: translateX(80px) scale(1.3);
    }
    .description__textpart {
        transform: translateX(14px);
    }

    .description__text {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 200% */
    }

    .plans__h {
        font-size: 40.51px;
    }

    .back-left-plans {
        transform: scale(79%);
        left: -328px;
        top: 400px;
    }
    .back-right-plans {
        transform: scale(79%);
        right: -205px;
        top: 800px;
    }

    .results__tech__h {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
        letter-spacing: -0.16px;
        text-transform: uppercase;
    }

    .results__cases {
        /* max-width: 50%; */
    }

    .case {
        max-width: 200px;
        padding: 15px;
    }
    .case__photo-img {
        object-fit: contain;
        max-width: 100%;
        border-radius: 9px;
    }
}

@media (max-width: 425px) {
    .secfirst__button {
        transform: scale(0.8);
        margin: 0 auto;
    }
    .page__result__choose {
        width: 70%;
    }
    .back-left {
        transform: scale(0.6) translateX(-34%);
    }
    .back-right{
        transform: scale(0.6) translate(35%, -20%);
    }
    .back-left-sub {
        transform: scale(0.6) translateX(-34%) translateY(60%);
    }
    .back-right-sub {
        transform: scale(0.6) translateX(34%) translateY(130%);
    }

    .advantages__results {
        justify-content: space-between;
    }

    .advantages__result {
        width: 48%;
        padding: 60px 15px 58px 15px;
    }


    .description__title {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px; /* 140% */
        letter-spacing: -0.25px;
    }
    .description__img {
        transform: translateX(80px) scale(1.3);
    }
    .description__textpart {
        transform: translateX(14px);
    }

    .description__text {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 200% */
    }

    .back-left-plans {
        transform: scale(79%);
        left: -328px;
        top: 400px;
    }
    .back-right-plans {
        transform: scale(79%);
        right: -205px;
        top: 800px;
    }

    .results__tech__h {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
        letter-spacing: -0.16px;
        text-transform: uppercase;
    }

    .results__cases {
        /* max-width: 50%; */
    }

    .case {
        max-width: 160px;
        padding: 15px;
    }
    .case__photo-img {
        object-fit: contain;
        max-width: 100%;
        border-radius: 9px;
    }
}